:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  /* colors */
  --primary-color: rgb(5, 113, 149);
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;

  --header-height: 45px;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  height: var(--header-height);
}
.logo {
  line-height: 45px; /* --header-height */
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}

.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}

.divider {
  border-bottom: 2px solid var(--primary-color);
}

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
}

.dropdown-button {
  padding: 0.4em 1.7em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a:hover {
  background-color: #ddd; /* or any color you prefer */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu:hover .dropdown-content {
  display: block;
}

main {
  height: calc(100vh - var(--header-height));
}

#map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#map {
}

/* HTML marker styles */
.detail {
  /* background-color: #4285f4; */
  /* border-radius: 8px; */
  color: white;
  font-size: 32px;
  /* padding: 10px 15px; */
  position: relative;
}

.critical {
  color: red;
}

.warning {
  color: yellow;
}

/* Style the table */
#notifications-table {
  width: 100%;
  border-collapse: collapse;
  overflow-y: auto;
  box-sizing: border-box; /* Include the scrollbar in the table's total width */
}

/* Style the table headers */
#notifications-table th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 8px;
}

/* Style the table cells */
#notifications-table td {
  padding: 8px;
  vertical-align: middle; /* Align the content to the middle */
}

/* Set the text alignment and width of the status column */
#notifications-table td:nth-child(1) /* Status column */ {
  text-align: center; /* Center the content */
  width: 50px; /* Fixed width */
}

/* Alternate row colors */
#notifications-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Set the text alignment and width of the timestamp column */
#notifications-table td:nth-child(2) /* Timestamp column */ {
  text-align: left; /* Left align the content */
  width: 150px; /* Fixed width */
}

/* Set the text alignment of the message column */
#notifications-table td:nth-child(3) /* Message column */ {
  text-align: left; /* Left align the content */
}

/* Style the status indicators */
.status-indicator {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid black; /* Add a black border */
  margin: auto; /* Center the indicator */
}

td .critical {
  background-color: #f00;
}

td .warning {
  background-color: #ff0;
}

td .normal {
  background-color: #0f0;
}

* Style the sort buttons */ .sort-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Style the sort buttons on hover */
.sort-button:hover {
  background-color: #45a049;
}

/* Style the sortable column headings */
.sortable {
  cursor: pointer;
  color: blue;
}

/* Style the selected column heading */
.sortable.selected {
  color: red;
}
