   <div class="logo">
     <a href="/index.html"> Grid<span class="highlight">Guardian</span></a>
   </div>
   <div class="title">12345 Map 12345</div>
   <div class="menu">
     <button class="dropdown-button">
       <i class="fas fa-bars"></i>
     </button>
     <div class="dropdown-content">
       <a href="/map/index.html">Map</a>
       <a href="/notice/index.html">Notice</a>
       <a href="/device/index.html">Device</a>
       <a href="/install/index.html">Install</a>
     </div>
   </div>